<h1>Dirección Técnica y Operaciones</h1>
<h1>Dirección Técnica y Operaciones</h1>
<h1>Dirección Técnica y Operaciones</h1>
<button class="btn btn-primary w-100" type="button" (click)="this.addCard()">Add</button>
<button class="btn btn-primary w-100" type="button" (click)="this.updateCart()">UpDate</button>
<button class="btn btn-primary w-100" type="button" (click)="this.show()">Show</button>
<button class="btn btn-primary w-100" type="button" (click)="this.showUser()">Show User</button>
<button class="btn btn-primary w-100" type="button" (click)="this.destroyCookies()">Destroy Cookies</button>

<br><br>


